$mountain: green;
$bunny: lightcyan;

@mixin mountain {
    position: absolute;
    bottom: 0;
    width: 250px;
    background-color: wheat;
    border: 1px solid brown;
    color: li;
}

@mixin bunny {
    position: absolute;
    bottom: 0;
    width: 100px;
    background-color: $bunny;
    border: 1px solid gray;

    .left-ear--outer {
        background: white;
        border-radius: 90%;
        width: 20px;
        height: 50px;
        position: absolute;
        left: 10px;
    }

    .left-ear--inner {
        background: pink;
        border-radius: 90%;
        width: 10px;
        height: 50px;
        position: absolute;
        left: 15px;
        top: 8px;
    }

    .right-ear--outer {
        background: white;
        border-radius: 90%;
        width: 20px;
        height: 50px;
        position: absolute;
        right: 10px;
    }

    .right-ear--inner {
        background: pink;
        border-radius: 90%;
        width: 10px;
        height: 50px;
        position: absolute;
        right: 15px;
        top: 8px;
    }

    .head {
        background: white;
        border-radius: 50%;
        height: 80px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        top: 30px;
        width: 100%;

        .eyes {
            background: gray;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            position: absolute;
            top: 15px;
        }

        .left-eye {
            left: 30px;
        }

        .right-eye {
            right: 30px;
        }

    }
}

body {
    counter-reset: game;

    header {
        nav {
            ul {
                li {
                    input:checked {
                        counter-increment: game;
                    }

                    // .shield{}            
                }
            }
        }

        .total-counter::after {
            content: counter(game);
        }
    }

    .game {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

        .phone {
            position: relative;
            border: 4px solid black;
            border-radius: 40px;
            width: 400px;
            height: 600px;
            background-color: lightblue;
            box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.30), 0px 15px 12px rgba(0, 0, 0, 0.25);

            .layer-1 {
                @include bunny;
                z-index: 1;
                height: 80%;
                right: 90px;
            }

            .layer-2 {
                @include bunny;
                z-index: 2;
                height: 80%;
                left: 90px;
            }

            .layer-3 {
                @include mountain;
                height: 70%;
                z-index: 3;
                left: 50%;
                transform: translate(-50%);
            }

            .layer-4 {
                @include bunny;
                z-index: 4;
                height: 60%;
                left: 40px;
            }

            .layer-5 {
                @include mountain;
                z-index: 5;
                height: 50%;
                border-radius: 0 0 0 40px;
            }

            .layer-6 {
                @include bunny;
                z-index: 6;
                height: 40%;
                right: 40px;
            }

            .layer-7 {
                @include mountain;
                z-index: 7;
                height: 30%;
                right: 0;
                border-radius: 0 0 40px 0;
            }

            .layer-8 {
                @include mountain;
                height: 20%;
                z-index: 8;
                left: 50%;
                transform: translate(-50%);
            }

            .layer-9 {
                @include bunny;
                z-index: 9;
                width: 150px;
                height: 10%;
                border-radius: 0 0 0 40px;
            }

            .layer-10 {
                @include bunny;
                z-index: 10;
                height: 10%;
                right: 0;
                border-radius: 0 0 40px 0;
            }
        }
    }
}